# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Playwright
test-results/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# IDE
.idea/
.vscode/
*.swp
